<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Welcome to the Home Page</title>
</head>
<body>
    <h1>Click on the following to retrieve the specific information</h1>
    <nav>
        <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/productFilter">Filtered Products</a></li>
        </ul>
    </nav>
</body>
</html>
